* {
  box-sizing: border-box;
}

body {
  background-color: #bbbbbb;

}

#regForm {
  background-color: #ffffff;
  margin: 5% auto;
  font-family: Arial;
  padding: 5%;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
  font-family: Arial;
  font-size: 130%;
}
h2 {
  text-align: center;
  font-family: Arial;
  font-size: 110%;
}
h3 {
  text-align: center; 
  font-family: Arial;
  font-size: 100%;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Arial;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}





.radio-group{
    position: relative;

}

.radio{
    display:inline-block;
    width: 100%;
    line-height: 3;
    margin-bottom: 1%;
    margin-right: 3%;
    background-color: #dedede;
    cursor:pointer;
    }

.radio.selected{
  border-color: #4d565f;
  background: #4d565f;
  color: #fff;
  line-height: 4;
}



.requerido{
  color:#FF0000;
}